* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
  color: var(--fonts-color);
}
.header,
.header-2 {
  display: flex;
}
header .carrier {
  padding-top: 1rem;
  padding-left: 2rem;
}

header .clock {
  padding-top: 1.2rem;
  padding-left: 4rem;
}
#internet {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.7rem;
}
#charge {
  padding-top: 1rem;
  padding-left: 7rem;
}

#img0 {
  margin-left: 2.7rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#Twitter-img {
  width: 47px;
  height: 46px;

  margin-left: 6rem;
}

h2 {
  margin-left: 6.5rem;
  margin-top: 0.4rem;
}

#userlabel,
#tweetlabel {
  margin-left: 10rem;
  margin-top: 1rem;
  font-family: cursive;

  display: block;
  color: rgb(45, 154, 243);
  font-size: 20px;
}
#name {
  margin-top: 1rem;
  margin-left: 7rem;
  width: 200px;
  height: 30px;
  display: block;
}
#name:hover,
#textarea:hover {
  background-color: rgb(221, 238, 252);
}
#textarea {
  margin-left: 6.7rem;
  margin-top: 1rem;
  /* max-width: 150px; */
}

#tweet {
  margin-left: 11rem;
  margin-top: 1rem;
  color: white;
  background-color: rgb(92 164 245);
  border-radius: 50px;
  border: none;
  font-size: 20px;
  padding: 7px 24px 6px 20px;
  border-radius: 20px;
  text-align: center;
}
.icons {
  display: flex;
}
.comment {
  display: flex;
  width: 20px;
  height: 20px;
  margin-top: 0.3rem;
}
.heart {
  display: flex;
}
.re-tweet {
  display: flex;
  margin-top: 0.5rem;
}
.comment-icon {
  margin-left: 2rem;

  width: 20px;
  height: 20px;
}

.re-tweet-icon {
  width: 20px;
  height: 20px;
  margin-left: 7.5rem;
}

.heart-icon {
  margin-left: 4.5rem;
  margin-top: 0.5rem;
  width: 20px;
  height: 20px;
}

.message-icon {
  width: 2opx;
  height: 20px;
  margin-top: 0.5rem;
  margin-left: 5.4rem;
}

.par-j {
  margin-left: 2rem;
  margin-top: 1rem;
  font-family: cursive;
  max-width: 84%;
}
h3 {
  margin-left: 2rem;
  margin-top: 1rem;

  font-family: cursive;
}
.nickname {
  margin-left: 2rem;
}
.p-tweet {
  margin-top: 2rem;
}
.retweet-this {
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 20px;
  color: rgb(92 164 245);
  font-family: cursive;
}
.newretweet {
  display: flex;
}
.retweet-img {
  margin-left: 2rem;
  margin-top: 2.3rem;
  width: 20px;
  height: 20px;
} /* Responsive Design for full screen    */
@media only screen and (min-width: 1300px) {
  header .carrier {
    padding-left: 5rem;
  }

  header .clock {
    padding-left: 20rem;
  }

  #charge {
    padding-left: 22rem;
  }

  #img0 {
    margin-left: 6rem;
  }
  h2 {
    margin-left: 22rem;
  }
  #Twitter-img {
    margin-left: 22rem;
  }
  #userlabel,
  #tweetlabel {
    margin-left: 28rem;
    font-size: 40px;
  }
  #tweetlabel {
    margin-top: 2rem;
  }
  #name {
    margin-left: 26rem;
    margin-top: 2rem;

    width: 301px;
  }
  #textarea {
    margin-left: 26rem;
    margin-top: 3rem;
    width: 312px;
    height: 150px;
    display: block;
  }
  .newretweet {
    margin-left: 3rem;
  }
  #tweet {
    margin-left: 31rem;
    margin-top: 3rem;
    color: white;
    padding: 12px 45px 15px 37px;
    border-radius: 33px;
    font-size: 30px;
  }
  h3,
  .nickname,
  .par-j {
    margin-left: 5rem;
  }
  .par-j {
    font-size: 26px;
  }
  .comment {
    margin-left: 3rem;
    margin-top: 1rem;
  }
  .re-tweet-icon {
    margin-left: 16rem;
    margin-top: 0.6rem;
  }
  .heart-icon {
    margin-left: 15rem;
    margin-top: 1rem;
  }
  .message-icon {
    margin-left: 19rem;
    margin-top: 1rem;
  }
}

@media only screen and (width: 1024px) {
  header .carrier {
    padding-left: 5rem;
  }

  header .clock {
    padding-left: 20rem;
  }

  #charge {
    padding-left: 22rem;
  }

  #img0 {
    margin-left: 6rem;
  }
  h2 {
    margin-left: 22rem;
  }
  #Twitter-img {
    margin-left: 22rem;
  }
  #userlabel,
  #tweetlabel {
    margin-left: 28rem;
    font-size: 40px;
  }
  #tweetlabel {
    margin-top: 2rem;
  }
  #name {
    margin-left: 26rem;
    margin-top: 2rem;

    width: 301px;
  }
  #textarea {
    margin-left: 26rem;
    margin-top: 3rem;
    width: 312px;
    height: 150px;
    display: block;
  }
  .newretweet {
    display: flex;
    margin-left: 3rem;
  }
  #tweet {
    margin-left: 31rem;
    margin-top: 3rem;
    color: white;
    padding: 12px 45px 15px 37px;
    border-radius: 33px;
    font-size: 30px;
  }
  h3,
  .nickname,
  .par-j {
    margin-left: 5rem;
  }
  .par-j {
    font-size: 26px;
  }
  .comment {
    margin-left: 3rem;
    margin-top: 1rem;
  }
  .re-tweet-icon {
    margin-left: 16rem;
    margin-top: 0.6rem;
  }
  .heart-icon {
    margin-left: 15rem;
    margin-top: 1rem;
  }
  .message-icon {
    margin-left: 19rem;
    margin-top: 1rem;
  }
}
